<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zucc.cxw.lottery.mapper.PeriodMapper">
  <resultMap id="BaseResultMap" type="cn.edu.zucc.cxw.lottery.entity.Period">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="begin_date" jdbcType="TIMESTAMP" property="beginDate" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="num_if" jdbcType="BIT" property="numIf" />
    <result column="num_length" jdbcType="INTEGER" property="numLength" />
    <result column="letter_if" jdbcType="BIT" property="letterIf" />
    <result column="letter_length" jdbcType="INTEGER" property="letterLength" />
    <result column="join_num" jdbcType="INTEGER" property="joinNum" />
    <result column="win_num" jdbcType="INTEGER" property="winNum" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="cn.edu.zucc.cxw.lottery.entity.Period">
    <result column="pic" jdbcType="LONGVARBINARY" property="pic" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, begin_date, end_time, num_if, num_length, letter_if, letter_length, join_num, 
    win_num
  </sql>
  <sql id="Blob_Column_List">
    pic
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from period
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByPrimaryKeyWithBLOBs" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from period
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from period
    where end_time is NULL
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from period
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.zucc.cxw.lottery.entity.Period">
    insert into period (id, title, begin_date, 
      end_time, num_if, num_length, 
      letter_if, letter_length, join_num, 
      win_num, pic)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{beginDate,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{numIf,jdbcType=BIT}, #{numLength,jdbcType=INTEGER}, 
      #{letterIf,jdbcType=BIT}, #{letterLength,jdbcType=INTEGER}, #{joinNum,jdbcType=INTEGER}, 
      #{winNum,jdbcType=INTEGER}, #{pic,jdbcType=LONGVARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.zucc.cxw.lottery.entity.Period">
    insert into period
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="beginDate != null">
        begin_date,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="numIf != null">
        num_if,
      </if>
      <if test="numLength != null">
        num_length,
      </if>
      <if test="letterIf != null">
        letter_if,
      </if>
      <if test="letterLength != null">
        letter_length,
      </if>
      <if test="joinNum != null">
        join_num,
      </if>
      <if test="winNum != null">
        win_num,
      </if>
      <if test="pic != null">
        pic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="beginDate != null">
        #{beginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="numIf != null">
        #{numIf,jdbcType=BIT},
      </if>
      <if test="numLength != null">
        #{numLength,jdbcType=INTEGER},
      </if>
      <if test="letterIf != null">
        #{letterIf,jdbcType=BIT},
      </if>
      <if test="letterLength != null">
        #{letterLength,jdbcType=INTEGER},
      </if>
      <if test="joinNum != null">
        #{joinNum,jdbcType=INTEGER},
      </if>
      <if test="winNum != null">
        #{winNum,jdbcType=INTEGER},
      </if>
      <if test="pic != null">
        #{pic,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.zucc.cxw.lottery.entity.Period">
    update period
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="beginDate != null">
        begin_date = #{beginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="numIf != null">
        num_if = #{numIf,jdbcType=BIT},
      </if>
      <if test="numLength != null">
        num_length = #{numLength,jdbcType=INTEGER},
      </if>
      <if test="letterIf != null">
        letter_if = #{letterIf,jdbcType=BIT},
      </if>
      <if test="letterLength != null">
        letter_length = #{letterLength,jdbcType=INTEGER},
      </if>
      <if test="joinNum != null">
        join_num = #{joinNum,jdbcType=INTEGER},
      </if>
      <if test="winNum != null">
        win_num = #{winNum,jdbcType=INTEGER},
      </if>
      <if test="pic != null">
        pic = #{pic,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.edu.zucc.cxw.lottery.entity.Period">
    update period
    set title = #{title,jdbcType=VARCHAR},
      begin_date = #{beginDate,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      num_if = #{numIf,jdbcType=BIT},
      num_length = #{numLength,jdbcType=INTEGER},
      letter_if = #{letterIf,jdbcType=BIT},
      letter_length = #{letterLength,jdbcType=INTEGER},
      join_num = #{joinNum,jdbcType=INTEGER},
      win_num = #{winNum,jdbcType=INTEGER},
      pic = #{pic,jdbcType=LONGVARBINARY}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.zucc.cxw.lottery.entity.Period">
    update period
    set title = #{title,jdbcType=VARCHAR},
      begin_date = #{beginDate,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      num_if = #{numIf,jdbcType=BIT},
      num_length = #{numLength,jdbcType=INTEGER},
      letter_if = #{letterIf,jdbcType=BIT},
      letter_length = #{letterLength,jdbcType=INTEGER},
      join_num = #{joinNum,jdbcType=INTEGER},
      win_num = #{winNum,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>